{% extends 'base.html' %}
{% block title%}
About
{% endblock title%}
{% block body%}
<main id="main">

    <div id="shopify-section-video-about" class="shopify-section">
        <div class="inline-video__video-wrapper" data-component="inline-video" data-autoplay>
            <video playsinline class="inline-video__video"
                poster="//cdn.shopify.com/s/files/1/0279/9277/files/yellow-leaf-hammocks-out-story_2000x.png?v=1606296495"
                muted>
                <source
                    src="https://cdn.shopify.com/s/files/1/0279/9277/files/yellow-leaf-hammocks-our-story-video.mp4?v=1606998733">
                </source>
            </video>
            <button class="inline-video__video-button" data-toggle-video>
                <svg width="106" height="120" viewBox="0 0 106 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100.75 64.7631C104.417 62.6462 104.417 57.3538 100.75 55.2369L10.75 3.27533C7.08334 1.15838 2.5 3.80456 2.5 8.03847L2.49999 111.962C2.49999 116.195 7.08332 118.842 10.75 116.725L100.75 64.7631Z"
                        stroke="#1C2F42" stroke-width="5" />
                </svg>

                <span class="screenreader">Play Video</span>
            </button>
        </div>



    </div>

    <div class="animated-wave" aria-hidden="true">
        <div class="animated-wave__wrapper">
            <div class="animated-wave__wave"></div>
        </div>
    </div>

    <div class="about-page">
        <header class="container container--sm">
            <h1 class="about-page__header h1">Our Story</h1>
            <div class="about-page__description h4 rte">
                <meta charset="utf-8">
                <p><span style="font-weight: 400;">We not only make the world’s most comfortable hammocks, but
                        through training and sustainable job creation, we empower our weavers and their families to
                        break the cycle of poverty and build a brighter future. </span></p>
            </div>
        </header>

        <div id="shopify-section-about-blocks" class="shopify-section">
            <div class="about-blocks">
                <div class="about-blocks__container container container--lg">
                    <div class="about-blocks__image-text about-blocks__image-text--right">
                        <div class="about-blocks__image-wrapper">
                            <img class="about-blocks__image lazyload" src="" data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/files/journey-relaxation_700x.jpg?v=1588098282"
                                alt="" loading="lazy" />
                        </div>
                        <div class="about-blocks__text-wrapper">
                            <h2 class="about-blocks__title h3">The journey to relaxation.</h2>
                            <div class="about-blocks__paragraph">
                                <p>Finding a hammock you can truly relax in didn’t happen overnight. It started with
                                    a chance discovery while on vacation, and took a lot of hard work (and a lot of
                                    hanging around) to bring the softest, most comfortable, and thoughtfully crafted
                                    hammocks to your backyard.</p>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="about-blocks__container container container--lg">
                    <div class="about-blocks__image-text about-blocks__image-text--left">
                        <div class="about-blocks__image-wrapper">
                            <img class="about-blocks__image lazyload" src="" data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/files/about-blocks-1_700x.jpg?v=1587720990"
                                alt="" loading="lazy" />
                        </div>
                        <div class="about-blocks__text-wrapper">
                            <h2 class="about-blocks__title h3">Transforming communities.</h2>
                            <div class="about-blocks__paragraph">
                                <p>Each individual Yellow Leaf hammock is handwoven with the utmost precision and
                                    care by the expert craftswomen of the Mlabri Tribe – “the people of the yellow
                                    leaves” – in the hills of Northern Thailand. Across three weaving communities,
                                    we are working to create jobs for mothers and build a foundation for positive
                                    community transformation. </p>
                            </div>


                            <a href="/pages/social-enterprise-impact-sustainability"
                                class="about-blocks__button text-button">Learn More</a>

                        </div>
                    </div>
                </div>

                <div class="container container--sm">
                    <div class="about-blocks__text">
                        <h2>We cut out the middleman and get money directly into the hands of our weavers.</h2>
                    </div>
                </div>
                <div class="about-blocks__container container container--lg">
                    <div class="about-blocks__image-text about-blocks__image-text--right">
                        <div class="about-blocks__image-wrapper">
                            <img class="about-blocks__image lazyload" src="" data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/files/about-blocks-2_700x.jpg?v=1587721024"
                                alt="" loading="lazy" />
                        </div>
                        <div class="about-blocks__text-wrapper">
                            <h2 class="about-blocks__title h3">Empowering women.</h2>
                            <div class="about-blocks__paragraph">
                                <p>Creating jobs for women is especially important for community transformation.
                                    Research shows that women will spend up to 90% of their income on health,
                                    nutrition, and education for their families.</p>
                            </div>

                            <p class="about-blocks__weaver text--script">Handwoven by Yalana</p>


                            <a href="/pages/about-us#card-slideshow-team" class="about-blocks__button text-button">Read
                                Her Story</a>

                        </div>
                    </div>
                </div>

                <div class="container container--sm">
                    <div class="about-blocks__text">
                        <h2>Turning women into breadwinners not only builds self-esteem, but improves their standing
                            in the community and enables them to pool resources and improve infrastructure.</h2>
                    </div>
                </div>
                <div class="about-blocks__container container container--lg">
                    <div class="about-blocks__image-text about-blocks__image-text--left">
                        <div class="about-blocks__image-wrapper">
                            <img class="about-blocks__image lazyload" src="" data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/files/about-blocks-3_700x.jpg?v=1587724118"
                                alt="" loading="lazy" />
                        </div>
                        <div class="about-blocks__text-wrapper">
                            <h2 class="about-blocks__title h3">How we got here.</h2>
                            <div class="about-blocks__paragraph">
                                <p>In 2011, while on vacation in Thailand, our co-founder Joe embarked on an
                                    impromptu motorcycle adventure that led him to discover the world’s most
                                    comfortable hammock hanging outside a hut on a tiny island.</p>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="container container--sm">
                    <div class="about-blocks__text">
                        <h2>The hammocks were unlike anything Joe had ever seen or felt before, and he knew he had
                            to share them with the world.</h2>
                    </div>
                </div>
                <div class="about-blocks__container container container--lg">
                    <div class="about-blocks__image-text about-blocks__image-text--right">
                        <div class="about-blocks__image-wrapper">
                            <img class="about-blocks__image lazyload" src="" data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/files/about-blocks-4_700x.jpg?v=1587724229"
                                alt="" loading="lazy" />
                        </div>
                        <div class="about-blocks__text-wrapper">
                            <h2 class="about-blocks__title h3">Bringing it home.</h2>
                            <div class="about-blocks__paragraph">
                                <p>He bought as many as he could fit in his backpack and headed home, ready to turn
                                    his vacation dream into a reality. Joe teamed up with his now-wife Rachel to
                                    establish Yellow Leaf—bringing a curated collection of beautifully crafted,
                                    ultra-comfortable hammocks to the masses, while giving back to the original
                                    crafters of the world’s most comfortable hammocks.</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="shopify-section-about-footer" class="shopify-section">
        <div class="about-footer">
            <div class="container container--md">
                <div class="about-footer__content">
                    <h2 class="about-footer__title text--script h3">Do good. Relax.</h2>
                    <h3 class="about-footer__subtitle h1">Doing good while relaxing?
                        We can hang with that.</h3>

                    <a href="/collections" class="btn">Shop Hammocks</a>

                </div>
            </div>
            <div class="about-footer__image-wrapper">
                <img class="about-footer__image lazyload" src="" data-sizes="auto"
                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/YL_FullWidth_Illustration_1-optimized.jpg?v=1588701568"
                    alt="" loading="lazy" />
            </div>
        </div>


    </div>
    <div id="shopify-section-card-slideshow-team" class="shopify-section">
        <section class="card-slideshow" id="card-slideshow-team" data-section-id="card-slideshow-team"
            data-section-type="card-slideshow" style="background-color: #d1f7f9">
            <div class="card-slideshow__container container container--xl">
                <h2 class="card-slideshow__title h5">Our Team</h2>
                <h3 class="card-slideshow__subtitle h1">Meet our weavers.</h3>
                <div class="card-slideshow__wrapper" data-slideshow>
                    <div class="card-slideshow__block" data-index="0">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weaver-yadi_256x.jpg?v=1588098897"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weaver-yadi_100x.jpg?v=1588098897">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Yadi</p>
                                <p class="card-slideshow__text text--sm">Yadi was born in the jungles to a
                                    traditional Mlabri family as the world around them fell apart...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="1">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/team-image-1_256x.jpg?v=1587649376"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/team-image-1_100x.jpg?v=1587649376">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Yalana</p>
                                <p class="card-slideshow__text text--sm">Yalana keeps Mlabri traditions alive with
                                    her love of music and beautiful singing voice...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="2">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/team-image-2_256x.jpg?v=1587649404"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/team-image-2_100x.jpg?v=1587649404">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Taton</p>
                                <p class="card-slideshow__text text--sm">Taton is one of the few Mlabri men to weave
                                    hammocks, but he is often a pioneer within..</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="3">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weaver-song_256x.jpg?v=1588099540"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weaver-song_100x.jpg?v=1588099540">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Song</p>
                                <p class="card-slideshow__text text--sm">Cheerful Song is a dedicated mother and
                                    prioritizes her children’s schooling, especially...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="4">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Daeng_256x.jpg?v=1588099584"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Daeng_100x.jpg?v=1588099584">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Daeng</p>
                                <p class="card-slideshow__text text--sm">Daeng is one of the few Mlabri men to weave
                                    hammocks, but he is determined to be a...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="5">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Khaen_256x.jpg?v=1588099638"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Khaen_100x.jpg?v=1588099638">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Khaen</p>
                                <p class="card-slideshow__text text--sm">Khaen feels that she represents a
                                    transition for the Mlabri- she is one of the first Mlabri who has...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="6">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Sukanya_256x.jpg?v=1588099677"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Sukanya_100x.jpg?v=1588099677">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Sukanya</p>
                                <p class="card-slideshow__text text--sm">Without any formal education, Sukanya has
                                    mastered the math necessary to budget for...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="7">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Chanai_256x.jpg?v=1588099744"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Chanai_100x.jpg?v=1588099744">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Chanai</p>
                                <p class="card-slideshow__text text--sm">Chanai is proud that her children are able
                                    to attend school instead of toiling in the fields. As...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="8">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Jeab_256x.jpg?v=1588099919"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Jeab_100x.jpg?v=1588099919">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Jeab</p>
                                <p class="card-slideshow__text text--sm">Jeab weaves in order to ensure her children
                                    will be able to attend school instead of toiling in the...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="9">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Yaton_256x.jpg?v=1588099941"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Yaton_100x.jpg?v=1588099941">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Yaton</p>
                                <p class="card-slideshow__text text--sm">Yaton has been weaving for her whole life!
                                    Before the hammock project began, she was an...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="10">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Mai_256x.jpg?v=1588099977"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Mai_100x.jpg?v=1588099977">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Mai</p>
                                <p class="card-slideshow__text text--sm">Today, Mai has very different opportunities
                                    as a weaver than her mother could have imagined...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="11">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Talana_256x.jpg?v=1588100006"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Talana_100x.jpg?v=1588100006">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Talana</p>
                                <p class="card-slideshow__text text--sm">Talana has worked hard to overcome the
                                    obstacles he's faced- for the traditional Mlabri...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="12">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Anong_256x.jpg?v=1588100043"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/weater-Anong_100x.jpg?v=1588100043">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Anong</p>
                                <p class="card-slideshow__text text--sm">For the first time, Anong feels that she
                                    has security through her weaving job. She is proud that she...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-slideshow__block" data-index="13">
                        <div class="card-slideshow__block-inner">
                            <div class="card-slideshow__image-wrapper">



                                <img class="card-slideshow__image lazyload" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/files/team-image-3_256x.jpg?v=1587649430"
                                    alt=""
                                    src="//cdn.shopify.com/s/files/1/0279/9277/files/team-image-3_100x.jpg?v=1587649430">

                            </div>
                            <div class="card-slideshow__content">
                                <p class="h4">Eet</p>
                                <p class="card-slideshow__text text--sm">The seeker....Duis mollis, est non commodo
                                    luctus, nisi erat porttitor. Cum sociis natoque....</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-slideshow__button-wrapper">
                    <a href="/pages/social-enterprise-impact-sustainability"
                        class="card-slideshow__button text-button">Read their stories</a>
                </div>

            </div>


        </section>



    </div>

</main>
{% endblock body%}