{% extends 'base.html' %}
{% block title%}
Services
{% endblock title%}
{% block body%}
<div id="shopify-section-featured-products" class="shopify-section">
    <div class="featured-product-grid container container--xl">
        <ul class="featured-product-grid__list">



            <li class="featured-product-grid__item">













































                <div class="grouped-product" data-component="grouped-product">
                    <h2 class="grouped-product__accent h5">
                        Best for the backyard
                    </h2>
                    <p class="grouped-product__title h3">Signature Hammock</p>
                    <div class="grouped-product__images">
                        <div class="grouped-product__image-wrapper " data-product-id="169172784">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-vineyard-haven-summer_100x.jpg?v=1618619653"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-vineyard-haven-summer_420x.jpg?v=1618619653"
                                alt="Vineyard Haven Hammock" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="169174826">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-kilauea-backyard_100x.jpg?v=1588363190"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-kilauea-backyard_420x.jpg?v=1588363190"
                                alt="Kilauea Hammock" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="169169668">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-big-sur-california_100x.jpg?v=1588351489"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-big-sur-california_420x.jpg?v=1588351489"
                                alt="Big Sur Hammock" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="387882084">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-lanta-vacation_jpg_100x.jpg?v=1588352274"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-lanta-vacation_jpg_420x.jpg?v=1588352274"
                                alt="Lanta Hammock" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="5502029509">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-zanzibar-pool-relax_100x.jpg?v=1588352472"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/double-hammock-yellow-leaf-zanzibar-pool-relax_420x.jpg?v=1588352472"
                                alt="Zanzibar Hammock" loading="lazy" />
                        </div>
                    </div>
                    <div class="grouped-product__swatches" data-component="tooltips">
                        <div class="swatch">
                            <input name="swatch-classic-double-hammock" type="radio" class="swatch__input"
                                id="swatch-169172784" checked value="169172784"
                                data-href="/products/double-hammock-nautical-seersucker-vineyard-haven">
                            <label class="swatch__label" for="swatch-169172784" data-tippy-content="Vineyard Haven ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-vineyard-haven_72x.png?v=16704980170810522665"
                                    alt="Vineyard Haven " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-classic-double-hammock" type="radio" class="swatch__input"
                                id="swatch-169174826" value="169174826"
                                data-href="/products/double-hammock-hawaii-kilauea">
                            <label class="swatch__label" for="swatch-169174826" data-tippy-content="Kilauea ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-kilauea_72x.png?v=6643094124685293492"
                                    alt="Kilauea " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-classic-double-hammock" type="radio" class="swatch__input"
                                id="swatch-169169668" value="169169668"
                                data-href="/products/double-hammock-khaki-big-sur-california">
                            <label class="swatch__label" for="swatch-169169668" data-tippy-content="Big Sur ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-big-sur_72x.png?v=5761320314996915114"
                                    alt="Big Sur " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-classic-double-hammock" type="radio" class="swatch__input"
                                id="swatch-387882084" value="387882084"
                                data-href="/products/lanta-hammock-beach-vacation">
                            <label class="swatch__label" for="swatch-387882084" data-tippy-content="Lanta ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-lanta_72x.png?v=13515012327317577859"
                                    alt="Lanta " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-classic-double-hammock" type="radio" class="swatch__input"
                                id="swatch-5502029509" value="5502029509"
                                data-href="/products/double-hammock-pool-blue-zanzibar">
                            <label class="swatch__label" for="swatch-5502029509" data-tippy-content="Zanzibar ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-zanzibar_72x.png?v=7303699624381197610"
                                    alt="Zanzibar " loading="lazy" />
                            </label>
                        </div>

                        <p class="grouped-product__more text--small">

                            + 9 more colors

                        </p>
                    </div>
                    <a class="grouped-product__button btn btn--teal"
                        href="/products/double-hammock-nautical-seersucker-vineyard-haven" data-link>
                        Shop Signature | $199
                    </a>
                </div>

            </li>




            <li class="featured-product-grid__item">










































                <div class="grouped-product" data-component="grouped-product">
                    <h2 class="grouped-product__accent h5">
                        Best for the great indoors
                    </h2>
                    <p class="grouped-product__title h3">Cotton Rope Hammock</p>
                    <div class="grouped-product__images">
                        <div class="grouped-product__image-wrapper " data-product-id="585522756">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/catalina-cotton-rope-hammock-yellow-leaf_100x.jpg?v=1588356205"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/catalina-cotton-rope-hammock-yellow-leaf_420x.jpg?v=1588356205"
                                alt="Catalina Rope Hammock" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="585549380">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/montauk-cotton-rope-hammock-yellow-leaf_100x.jpg?v=1618619613"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/montauk-cotton-rope-hammock-yellow-leaf_420x.jpg?v=1618619613"
                                alt="Montauk Rope Hammock" loading="lazy" />
                        </div>
                    </div>
                    <div class="grouped-product__swatches" data-component="tooltips">
                        <div class="swatch">
                            <input name="swatch-cotton-rope-hammocks" type="radio" class="swatch__input"
                                id="swatch-585522756" checked value="585522756"
                                data-href="/products/catalina-rope-hammock">
                            <label class="swatch__label" for="swatch-585522756" data-tippy-content="Catalina ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-catalina_72x.png?v=5761320314996915114"
                                    alt="Catalina " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-cotton-rope-hammocks" type="radio" class="swatch__input"
                                id="swatch-585549380" value="585549380" data-href="/products/montauk-rope-hammock">
                            <label class="swatch__label" for="swatch-585549380" data-tippy-content="Montauk ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-montauk_72x.png?v=16704980170810522665"
                                    alt="Montauk " loading="lazy" />
                            </label>
                        </div>

                        <p class="grouped-product__more text--small">

                        </p>
                    </div>
                    <a class="grouped-product__button btn btn--teal" href="/products/catalina-rope-hammock" data-link>
                        Shop Cotton Rope | $199
                    </a>
                </div>

            </li>




            <li class="featured-product-grid__item">













































                <div class="grouped-product" data-component="grouped-product">
                    <h2 class="grouped-product__accent h5">
                        Best For Some “Me Time”
                    </h2>
                    <p class="grouped-product__title h3">The Chair Hammock</p>
                    <div class="grouped-product__images">
                        <div class="grouped-product__image-wrapper " data-product-id="169178174">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-sedona-red-orange_100x.jpg?v=1588359140"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-sedona-red-orange_420x.jpg?v=1588359140"
                                alt="Sedona Hanging Chair" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="5766594757">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-st-lucia-festival-yellow-leaf_100x.jpg?v=1588358792"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-st-lucia-festival-yellow-leaf_420x.jpg?v=1588358792"
                                alt="St. Lucia Hanging Chair" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="5753844933">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-zanzibar-yellow-leaf_jpg_100x.jpg?v=1588359367"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-zanzibar-yellow-leaf_jpg_420x.jpg?v=1588359367"
                                alt="Zanzibar Hanging Chair" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="169177708">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-vineyard-haven-yellow-leaf_100x.jpg?v=1588358554"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-vineyard-haven-yellow-leaf_420x.jpg?v=1588358554"
                                alt="Vineyard Haven Hanging Chair" loading="lazy" />
                        </div>
                        <div class="grouped-product__image-wrapper grouped-product__image-wrapper--hidden"
                            loading="lazy" data-product-id="169176260">
                            <img class="grouped-product__image lazyload"
                                src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-big-sur-natural-yellow-leaf_100x.jpg?v=1588358188"
                                data-sizes="auto"
                                data-src="//cdn.shopify.com/s/files/1/0279/9277/products/hanging-chair-hammock-swing-big-sur-natural-yellow-leaf_420x.jpg?v=1588358188"
                                alt="Big Sur Hanging Chair" loading="lazy" />
                        </div>
                    </div>
                    <div class="grouped-product__swatches" data-component="tooltips">
                        <div class="swatch">
                            <input name="swatch-hanging-chair-hammock" type="radio" class="swatch__input"
                                id="swatch-169178174" checked value="169178174"
                                data-href="/products/hanging-chair-hammock-orange-sedona">
                            <label class="swatch__label" for="swatch-169178174" data-tippy-content="Sedona ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-sedona_72x.png?v=4305808542572016593"
                                    alt="Sedona " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-hanging-chair-hammock" type="radio" class="swatch__input"
                                id="swatch-5766594757" value="5766594757" data-href="/products/st-lucia-hanging-chair">
                            <label class="swatch__label" for="swatch-5766594757" data-tippy-content="St. Lucia ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-st-lucia_72x.png?v=17646159121284615079"
                                    alt="St. Lucia " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-hanging-chair-hammock" type="radio" class="swatch__input"
                                id="swatch-5753844933" value="5753844933" data-href="/products/zanzibar-hanging-chair">
                            <label class="swatch__label" for="swatch-5753844933" data-tippy-content="Zanzibar ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-zanzibar_72x.png?v=7303699624381197610"
                                    alt="Zanzibar " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-hanging-chair-hammock" type="radio" class="swatch__input"
                                id="swatch-169177708" value="169177708"
                                data-href="/products/hanging-chair-hammock-seersucker-marthas-vineyard-haven">
                            <label class="swatch__label" for="swatch-169177708" data-tippy-content="Vineyard Haven ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-vineyard-haven_72x.png?v=16704980170810522665"
                                    alt="Vineyard Haven " loading="lazy" />
                            </label>
                        </div>
                        <div class="swatch">
                            <input name="swatch-hanging-chair-hammock" type="radio" class="swatch__input"
                                id="swatch-169176260" value="169176260"
                                data-href="/products/hanging-chair-hammock-khaki-big-sur-california">
                            <label class="swatch__label" for="swatch-169176260" data-tippy-content="Big Sur ">
                                <img class="swatch__image lazyload" src="" data-sizes="auto"
                                    data-src="//cdn.shopify.com/s/files/1/0279/9277/t/101/assets/swatch-big-sur_72x.png?v=5761320314996915114"
                                    alt="Big Sur " loading="lazy" />
                            </label>
                        </div>

                        <p class="grouped-product__more text--small">

                            + 5 more colors

                        </p>
                    </div>
                    <a class="grouped-product__button btn btn--teal"
                        href="/products/hanging-chair-hammock-orange-sedona" data-link>
                        Shop The Chair | $179
                    </a>
                </div>

            </li>


        </ul>
    </div>


</div>
{% endblock body%}